body {
 background-color: black;

}

.white {
    font-family: moon;
    color: white;
    background-color: #222222;
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -35px;
    padding-left: 10px;
}

#title {
    font-size: 55px;
padding-left: 15%;
}
















































